<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="FirstSpring" class="com.wxy.hand.FirstSpring">
        <!-- collaborators and configuration for this bean go here -->
    </bean>
    <bean id="UserService" class="com.wxy.hand.service.UserService">
        <!--   set注入userDao属性，ref引用UserDao     -->
        <property name="userDao" ref="UserDao"></property>
        <property name="userName" value="admin"></property>
    </bean>
    <bean id="UserDao" class="com.wxy.hand.dao.UserDao">
    </bean>

    <!-- more bean definitions go here -->
    <!--  配置扫描包范围 com.wxy.hand -->
<!--    <context:component-scan base-package="com.wxy.hand"/>-->

    <!--  开启aop环境  -->
    <aop:aspectj-autoproxy/>

</beans>